<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>

    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <h2><u>Information about id : <%= data._id %></u></h2>
    <div>

        <h3>Username : @<%= data.username%></h3>

        <img src="<%= data.image%>" alt="img">

        <p><b>Content : <%= data.content %></b></p>
    </div>

</body>

</html>